<div class="block-header">
  <div class="row">
    <div class="col-lg-5 col-md-8 col-sm-12">
      <h2>Dashboard</h2>
    </div>
    <div class="col-lg-7 col-md-4 col-sm-12 text-right">
      <ul class="breadcrumb justify-content-end">
        <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
        <li class="breadcrumb-item active">Operator</li>
      </ul>
    </div>
  </div>
</div>


<div class="row clearfix">
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card text-center">
      <div class="header">
        <h2>Pengguna</h2>
      </div>
      <div class="body pt-0">
        <div class="row">
          <div class="col-12 m-b-15">
            <h1><i class="icon-user"></i></h1>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <h4 class="font-22 text-col-green font-weight-bold">
              <small class="font-12 text-col-dark d-block m-b-10">Supervisor</small>
              55
            </h4>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <h4 class="font-22 text-col-blue font-weight-bold">
              <small class="font-12 text-col-dark d-block m-b-10">Operator</small>
              3650
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-md-12 col-sm-12">
    <div class="card overflowhidden">
      <div class="header">
        <h2>Analysis</h2>
        <ul class="header-dropdown">
          <li> <a href="javascript:void(0);" data-toggle="cardloading" data-loading-effect="pulse"><i
                class="icon-refresh"></i></a></li>
          <li><a href="javascript:void(0);" class="full-screen"><i class="icon-size-fullscreen"></i></a></li>
          <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"
              aria-haspopup="true" aria-expanded="false"></a>
            <ul class="dropdown-menu dropdown-menu-right animated bounceIn">
              <li><a href="javascript:void(0);">Action</a></li>
              <li><a href="javascript:void(0);">Another Action</a></li>
              <li><a href="javascript:void(0);">Something else</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="body">
        <div class="row text-center">
          <div class="col-4">
            <h4>2598 <span class="font-13 d-block mt-2">Kuala Lumpur</span></h4>
          </div>
          <div class="col-4 border-left border-right">
            <h4>8547 <span class="font-13 d-block mt-2">Sarawak</span></h4>
          </div>
          <div class="col-4">
            <h4>2707 <span class="font-13 d-block mt-2">Sabah</span></h4>
          </div>
        </div>
      </div>
      <div class="sparkline" data-type="bar" data-offset="90" data-width="97%" data-height="50px" data-bar-Width="10"
        data-bar-Spacing="10" data-bar-Color="#7cb5ec">4,8,0,3,1,8,5,4,0,5,4,3,2,1,5,6,7,8,4,5,8,0,3</div>
    </div>
  </div>
</div>

<div class="row clearfix">
  <div class="col-lg-8 col-md-12">
    <div class="card Sales_Overview">
      <div class="header">
        <h2>Kajiselidik keseluruhan</h2>
        <ul class="header-dropdown">
          <li> <a href="javascript:void(0);" data-toggle="cardloading" data-loading-effect="pulse"><i
                class="icon-refresh"></i></a></li>
          <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"
              aria-haspopup="true" aria-expanded="false"></a>
            <ul class="dropdown-menu dropdown-menu-right animated bounceIn">
              <li><a href="javascript:void(0);">Action</a></li>
              <li><a href="javascript:void(0);">Another Action</a></li>
              <li><a href="javascript:void(0);">Something else</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="body">
        <div id="Sales_Overview" class="ct-chart"></div>
        <div class="body xl-slategray text-center">
          <div class="row clearfix">
            <div class="col-lg-4 col-md-4">
              <h2 class="font700">150K</h2>
              <small>17% <i class="fa fa-level-up text-success"></i>
                Sasaran</small>
            </div>
            <div class="col-lg-4 col-md-4">
              <h2 class="font700">80K</h2>
              <small>18% <i class="fa fa-level-down text-danger"></i>
                Survey Berjaya</small>
            </div>
            <div class="col-lg-4 col-md-4">
              <h2 class="font700">9K</h2>
              <small>18% <i class="fa fa-level-up text-success"></i>
                Fixed Sample</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12">
    <div class="card">
      <div class="header">
        <h2 class="text-center">Info Sasaran</h2>
      </div>
      <div class="body">
        <div class="row text-center">
          <div class="col-6 border-right border-bottom pb-4 pt-4">
            <div id="Traffic1" class="carousel vert slide" data-ride="carousel" data-interval="3000">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <label class="mb-0">Jumlah Sasaran</label>
                  <h4 class="font-30 font-weight-bold text-primary">150,545</h4>
                </div>
                <div class="carousel-item">
                  <label class="mb-0">Sasaran Baru</label>
                  <h4 class="font-30 font-weight-bold text-success">7,326</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 border-bottom pb-4 pt-4">
            <div id="Traffic1" class="carousel vert slide" data-ride="carousel" data-interval="3000">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <label class="mb-0">Tidak Wujud</label>
                  <h4 class="font-30 font-weight-bold text-warning">5,042</h4>
                </div>
                <div class="carousel-item">
                  <label class="mb-0">Tiada Nombor</label>
                  <h4 class="font-30 font-weight-bold text-danger">73,148</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header">
        <h2 class="text-center">Completed</h2>
      </div>
      <div class="body">
        <div class="form-group">
          <label class="d-block">Positive Sentiment <span class="float-right">77%</span></label>
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" role="progressbar" aria-valuenow="77"
              aria-valuemin="0" aria-valuemax="100" style="width: 77%;"></div>
          </div>
        </div>
        <div class="form-group">
          <label class="d-block">Komen Infrastuctur <span class="float-right">50%</span></label>
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" role="progressbar" aria-valuenow="50"
              aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
          </div>
        </div>
        <div class="form-group">
          <label class="d-block">Komen Umum <span class="float-right">23%</span></label>
          <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" role="progressbar" aria-valuenow="23"
              aria-valuemin="0" aria-valuemax="100" style="width: 23%;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
