<div class="block-header">
  <div class="row">
    <div class="col-lg-5 col-md-8 col-sm-12">
      <h2>Tetapan Kawasan</h2>
    </div>
    <div class="col-lg-7 col-md-4 col-sm-12 text-right">
      <ul class="breadcrumb justify-content-end">
        <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
        <li class="breadcrumb-item">Record Operator</li>
        <li class="breadcrumb-item active">Tetapan Kawasan</li>
      </ul>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="card">
    <div class="header">
      <h2>Senarai Kawasan untuk Operator</h2>
    </div>

    <div class="btn-group" role="group">
      <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Pilih Kawasan
      </button>
      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <a class="dropdown-item" href="javascript:void(0);">Selayang</a>
        <a class="dropdown-item" href="javascript:void(0);">Sibu</a>
        <a class="dropdown-item" href="javascript:void(0);">Batu Muda</a>
        <a class="dropdown-item" href="javascript:void(0);">Kota Damansara</a>
        <a class="dropdown-item" href="javascript:void(0);">Sri Gombak</a>
      </div>
    </div>



    <div class="body">
      <div class="table-responsive">
        <table class="table table-hover m-b-0 c_list">
          <thead>
            <tr>
              <th>
                <label class="fancy-checkbox">
                  <input class="select-all" type="checkbox" name="checkbox">
                  <span></span>
                </label>
              </th>
              <th>Name</th>
              <th>Call Centre</th>
              <th>Kawasan Sasaran</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="width: 50px;">
                <label class="fancy-checkbox">
                  <input class="checkbox-tick" type="checkbox" name="checkbox">
                  <span></span>
                </label>
              </td>
              <td>
                <p class="c_name">Nama Operator <span class="badge badge-default m-l-10 hidden-sm-down">username</span>
                </p>
              </td>
              <td>
                <span class="phone"><i class="fa fa-phone m-r-10"></i>CCS One</span>
              </td>
              <td>
                <address><i class="fa fa-map-marker"></i>Selayang</address>
              </td>
              <td>
                <button type="button" class="btn btn-info" title="Edit"><i class="fa fa-edit"></i></button>
                <button type="button" data-type="confirm" class="btn btn-danger js-sweetalert" title="Delete"><i
                    class="fa fa-trash-o"></i></button>
              </td>
            </tr>
            <tr>
              <td>
                <label class="fancy-checkbox">
                  <input class="checkbox-tick" type="checkbox" name="checkbox">
                  <span></span>
                </label>
              </td>
              <td>
                <p class="c_name">Nuraidah Husin <span class="badge badge-info m-l-10 hidden-sm-down">nana19</span></p>
              </td>
              <td>
                <span class="phone"><i class="fa fa-phone m-r-10"></i>CCS Two</span>
              </td>
              <td>
                <address><i class="fa fa-map-marker"></i>Kota Damansara</address>
              </td>
              <td>
                <button type="button" class="btn btn-info" title="Edit"><i class="fa fa-edit"></i></button>
                <button type="button" data-type="confirm" class="btn btn-danger js-sweetalert" title="Delete"><i
                    class="fa fa-trash-o"></i></button>
              </td>
            </tr>
            <tr>
              <td>
                <label class="fancy-checkbox">
                  <input class="checkbox-tick" type="checkbox" name="checkbox">
                  <span></span>
                </label>
              </td>
              <td>
                <p class="c_name">Farid Hamid <span class="badge badge-info m-l-10 hidden-sm-down">farid</span></p>
              </td>
              <td>
                <span class="phone"><i class="fa fa-phone m-r-10"></i>CCS One</span>
              </td>
              <td>
                <address><i class="fa fa-map-marker"></i>Selayang</address>
              </td>
              <td>
                <button type="button" class="btn btn-info" title="Edit"><i class="fa fa-edit"></i></button>
                <button type="button" data-type="confirm" class="btn btn-danger js-sweetalert" title="Delete"><i
                    class="fa fa-trash-o"></i></button>
              </td>
            </tr>
            <tr>
              <td>
                <label class="fancy-checkbox">
                  <input class="checkbox-tick" type="checkbox" name="checkbox">
                  <span></span>
                </label>
              </td>
              <td>
                <p class="c_name">Fatimah Ahmad<span class="badge badge-default m-l-10 hidden-sm-down">tinaisme</span>
                </p>
              </td>
              <td>
                <span class="phone"><i class="fa fa-phone m-r-10"></i>CCS Two</span>
              </td>
              <td>
                <address><i class="fa fa-map-marker"></i>Kota Damansara</address>
              </td>
              <td>
                <button type="button" class="btn btn-info" title="Edit"><i class="fa fa-edit"></i></button>
                <button type="button" data-type="confirm" class="btn btn-danger js-sweetalert" title="Delete"><i
                    class="fa fa-trash-o"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
