            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-8 col-sm-12">
                        <h2>Statistik Operator</h2>
                    </div>
                    <div class="col-lg-7 col-md-4 col-sm-12 text-right">
                        <ul class="breadcrumb justify-content-end">
                            <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
                            <li class="breadcrumb-item">Record Operator</li>
                            <li class="breadcrumb-item active">Statistik</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="clearfix">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                        <h2>Performance Operator<small>Note for admin here</small> </h2>
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-12">
                                    <label>Pilihan Kawasan</label>
                                    <div>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Semua Kawasan
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="#">Selayang</a>
                                            <a class="dropdown-item" href="#">Sri Gombak</a>
                                            <a class="dropdown-item" href="#">Sibu</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Semua kawasan</a>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-12">
                                    <label>Range</label>
                                    <div class="input-daterange input-group" data-provide="datepicker">
                                        <input type="text" class="input-sm form-control" name="start">
                                        <span class="input-group-addon range-to">to</span>
                                        <input type="text" class="input-sm form-control" name="end">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-12">
                                    <div class="body">
                                        <div>

                                        <button type="button" class="btn btn-primary">Reset</button>
                                        <button type="button" class="btn btn-success">Carian</button>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-lg-12">
                <div class="card">


                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                                <thead>
                                <tr>
                                    <th>Nama Pengguna</th>
                                    <th>Jumlah Kajian Berjaya</th>
                                    <th>Jumlah Panggilan</th>
                                    <th>Jumlah Sesi</th>
                                    <th>Purata Sesi</th>
                                    <th>Sessi Terlama</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>39</td>
                                    <td>150</td>
                                    <td>18:41:19</td>
                                    <td>00:07:28</td>
                                    <td>01:22:58</td>
                                </tr>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>39</td>
                                    <td>150</td>
                                    <td>18:41:19</td>
                                    <td>00:07:28</td>
                                    <td>01:22:58</td>
                                </tr>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>39</td>
                                    <td>150</td>
                                    <td>18:41:19</td>
                                    <td>00:07:28</td>
                                    <td>01:22:58</td>
                                </tr>
                                <tr>
                                    <td>Ramlah Husin</td>
                                    <td>39</td>
                                    <td>150</td>
                                    <td>18:41:19</td>
                                    <td>00:07:28</td>
                                    <td>01:22:58</td>
                                </tr>
                                <tr>
                                    <td>Ramlah Husin</td>
                                    <td>39</td>
                                    <td>150</td>
                                    <td>18:41:19</td>
                                    <td>00:07:28</td>
                                    <td>01:22:58</td>
                                </tr>
                                <tr>
                                    <td>Ramlah Husin</td>
                                    <td>39</td>
                                    <td>150</td>
                                    <td>18:41:19</td>
                                    <td>00:07:28</td>
                                    <td>01:22:58</td>
                                </tr>
                                <tr>
                                    <td>Ramlah Husin</td>
                                    <td>39</td>
                                    <td>150</td>
                                    <td>18:41:19</td>
                                    <td>00:07:28</td>
                                    <td>01:22:58</td>
                                </tr>
                                <tr>
                                    <td>Ramlah Husin</td>
                                    <td>39</td>
                                    <td>150</td>
                                    <td>18:41:19</td>
                                    <td>00:07:28</td>
                                    <td>01:22:58</td>
                                </tr>
                                <tr>
                                    <td>Ramlah Husin</td>
                                    <td>39</td>
                                    <td>150</td>
                                    <td>18:41:19</td>
                                    <td>00:07:28</td>
                                    <td>01:22:58</td>
                                </tr>
                                <tr>
                                    <td>Ramlah Husin</td>
                                    <td>39</td>
                                    <td>150</td>
                                    <td>18:41:19</td>
                                    <td>00:07:28</td>
                                    <td>01:22:58</td>
                                </tr>
                                <tr>
                                    <<td>Ramlah Husin</td>
                                    <td>39</td>
                                    <td>150</td>
                                    <td>18:41:19</td>
                                    <td>00:07:28</td>
                                    <td>01:22:58</td>
                                </tr>
                                <tr>
                                    <td>Ramlah Husin</td>
                                    <td>39</td>
                                    <td>150</td>
                                    <td>18:41:19</td>
                                    <td>00:07:28</td>
                                    <td>01:22:58</td>
                                </tr>
                                <tr>
                                    <td>Ramlah Husin</td>
                                    <td>39</td>
                                    <td>150</td>
                                    <td>18:41:19</td>
                                    <td>00:07:28</td>
                                    <td>01:22:58</td>
                                </tr>
                                <tr>
                                    <td>Ramlah Husin</td>
                                    <td>39</td>
                                    <td>150</td>
                                    <td>18:41:19</td>
                                    <td>00:07:28</td>
                                    <td>01:22:58</td>
                                </tr>
                                <tr>
                                    <td>Ramlah Husin</td>
                                    <td>39</td>
                                    <td>150</td>
                                    <td>18:41:19</td>
                                    <td>00:07:28</td>
                                    <td>01:22:58</td>
                                </tr>
                                <tr>
                                    <td>Ramlah Husin</td>
                                    <td>39</td>
                                    <td>150</td>
                                    <td>18:41:19</td>
                                    <td>00:07:28</td>
                                    <td>01:22:58</td>
                                </tr>
                                <tr>
                                    <td>Ramlah Husin</td>
                                    <td>39</td>
                                    <td>150</td>
                                    <td>18:41:19</td>
                                    <td>00:07:28</td>
                                    <td>01:22:58</td>
                                </tr>
                                <tr>
                                    <td>Ramlah Husin</td>
                                    <td>39</td>
                                    <td>150</td>
                                    <td>18:41:19</td>
                                    <td>00:07:28</td>
                                    <td>01:22:58</td>
                                </tr>
                                <tr>
                                    <td>Ramlah Husin</td>
                                    <td>39</td>
                                    <td>150</td>
                                    <td>18:41:19</td>
                                    <td>00:07:28</td>
                                    <td>01:22:58</td>
                                </tr>
                                <tr>
                                    <td>Ramlah Husin</td>
                                    <td>39</td>
                                    <td>150</td>
                                    <td>18:41:19</td>
                                    <td>00:07:28</td>
                                    <td>01:22:58</td>
                                </tr>
                                <tr>
                                    <td>Ramlah Husin</td>
                                    <td>39</td>
                                    <td>150</td>
                                    <td>18:41:19</td>
                                    <td>00:07:28</td>
                                    <td>01:22:58</td>
                                </tr>
                                <tr>
                                    <td>Ramlah Husin</td>
                                    <td>39</td>
                                    <td>150</td>
                                    <td>18:41:19</td>
                                    <td>00:07:28</td>
                                    <td>01:22:58</td>
                                </tr>
                                <tr>
                                    <td>Ramlah Husin</td>
                                    <td>39</td>
                                    <td>150</td>
                                    <td>18:41:19</td>
                                    <td>00:07:28</td>
                                    <td>01:22:58</td>
                                </tr>
                                <tr>
                                    <td>Ramlah Husin</td>
                                    <td>39</td>
                                    <td>150</td>
                                    <td>18:41:19</td>
                                    <td>00:07:28</td>
                                    <td>01:22:58</td>
                                </tr>
                                <tr>
                                    <td>Ramlah Husin</td>
                                    <td>39</td>
                                    <td>150</td>
                                    <td>18:41:19</td>
                                    <td>00:07:28</td>
                                    <td>01:22:58</td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Nama Pengguna</th>
                                    <th>Jumlah Kajian Berjaya</th>
                                    <th>Jumlah Panggilan</th>
                                    <th>Jumlah Sesi</th>
                                    <th>Purata Sesi</th>
                                    <th>Sessi Terlama</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>