<style>
  .btn-result {
    color: #fff; 
    background-color: #4d62a7; 
    border-color: #4d62a7;
}
.btn-result:hover, .btn-result:focus, .btn-result:active, .btn-result.active, .open>.dropdown-toggle.btn-result {
    color: #fff;
    background-color: #3e4c77;
    border-color: #1a2d3d; /*set the color you want here*/
}
</style>
<div class="block-header">
  <div class="row">
    <div class="col-lg-5 col-md-8 col-sm-12">
      <h2>Chart</h2>
    </div>
    <div class="col-lg-7 col-md-4 col-sm-12 text-right">
      <ul class="breadcrumb justify-content-end">
        <li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
        <li class="breadcrumb-item">Result</li>
        <li class="breadcrumb-item active">Chart</li>
      </ul>
    </div>
  </div>
</div>
<div class="row clearfix m-b-20">
  <div class="col-lg-3 col-md-6">
    <div class="btn-group" style="width: 100%;">
      <select class="btn btn-secondary" style="width: 100%;text-align:centre;" onchange="regionSelection(event)">
        <option class="dropdown-menu dropdown-item" style="background-color:white; text-align:centre;" selected>Select Region</option>
        {{#each regions}}
        <option class="dropdown-menu dropdown-item" style="background-color:white; text-align:centre;" value="{{id}}">{{name}}</option>
        {{/each}}
      </select>
    </div>
  </div>
</div>
<div class="row m-b-20">
  <div class="col-lg-12">
    <div class="card">
      <div class="body">
        <div class="row m-b-20">
          <div class="col-md-6">
            <div id="survey-chart" class="status-survey"></div> <!-- Status call percentage -->
          </div>
          <div class="col-md-6">
            <div id="comment-chart" class="status-comment"></div> <!-- Status call percentage -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div id="phone-chart" class="status-phone"></div> <!-- Status call percentage -->
          </div>
          <div class="col-md-6">
            <div id="race-chart" class="status-race"></div> <!-- Status call percentage -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="bottomCard" class="row">
  <div class="col-sm-12">
    <div class="card" style="padding:15px; text-align:center;">
      <button class="btn btn-result" onclick="viewDetails()">View Details</button>
      <a class="btn" style="border-color: #4d62a7; background: white;" id="csv">CSV</a>
    </div>
  </div>
</div>

<script>
  $("#bottomCard").hide()
  async function regionSelection(e) {
    $("#bottomCard").show()
    sessionStorage.setItem("region_id",e.target.value)
    var region_id = e.target.value;
    try {
      const res = await fetch(`{{url}}surveys/statistics/${region_id}`, {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
          Authorization: `bearer ${sessionStorage.getItem("token")}`
        }
      });
      var regionRecord = await res.json()
      
      if(regionRecord) {
        surveyChart(regionRecord);
        commentChart(regionRecord);
        phoneChart(regionRecord);
        raceChart(regionRecord)

      //Setting CSV file content
      var obj = ["id","gender","phone","race","name","address","location","region_id","region_name","question_survey","comment","status","status_phone","status_survey","call_duration","operator_id"]

      regionRecord.forEach(e => {
        e.address = e.address.replace(/,/g, '');
        if (e.status_phone){
          if (e.status_phone.indexOf(',') != -1) { 
            e.status_phone = e.status_phone.replace(/,/g, '') 
          }
        }
        if (e.comment){
          if (e.comment.indexOf(',') != -1) { 
            e.comment = e.comment.replace(/,/g, '') 
          }
        }
        if (e.phone.indexOf(',') != -1) { 
          e.phone = e.phone.replace(/,/g, '') 
        }
        if(e.question_survey) {
          if (e.question_survey.indexOf(',') != -1) {
            e.question_survey = e.question_survey.replace(/,/g, '') 
          }
        }
      })
      regionRecord.unshift(obj);
      const jsonObject = JSON.stringify(regionRecord)
      const csvContent = ConvertToCSV(jsonObject)
      //Appending CSV download link to the button
      if(csvContent) {
        var encodedUri = encodeURI(csvContent);
        var link = document.getElementById("csv");
        link.setAttribute("href", 'data:text/csv;charset=UTF-8,' + encodedUri);
        link.setAttribute("download", "surveyDetails.csv");
      }
      }
     } catch(err) {
      Swal.fire('Ooupss..', 'Something went wrong, please try again..', 'error')
      console.error(err)
    }
  } 

  function ConvertToCSV(objArray) {
    var array = typeof objArray != 'object' ? JSON.parse(objArray) : objArray;
    var str = '';

    for (var i = 0; i < array.length; i++) {
        var line = '';
        for (var index in array[i]) {
            if (line != '') line += ','

            line += array[i][index];
        }

        str += line + '\r\n';
    }

    return str;
  }

  function surveyChart(surveyRecord) {
    $(".status-survey").empty()
    var done = 0;
    var undone = 0;
    var survey = surveyRecord.map(e => e.status)
    survey.forEach(e => {
      if(e == 0){
        done=+1;
      } else if( e == 2){
        undone=+1;
      }
    })

    var data = {
      labels: ['Passed Surveys', 'Pending Surveys'],
      series: [done, undone]
    };

    var options = {
      labelInterpolationFnc: function(value) {
        return value[0]
      }
    };

    var responsiveOptions = [
      ['screen and (min-width: 640px)', {
        chartPadding: 30,
        labelOffset: 100,
        labelDirection: 'explode',
        labelInterpolationFnc: function(value) {
          return value;
        }
      }],
      ['screen and (min-width: 1024px)', {
        labelOffset: 60,
        chartPadding: 20
      }]
    ];

    var sum = function(a, b) { return a + b };

    new Chartist.Pie('.status-survey', data, options, responsiveOptions);

    $(".status-survey").append('<label for="survey-chart" class="col-form-label" style="display: block; text-align:center;">Survey Status</label>')
  }

  function commentChart(commentRecord) {
    $(".status-comment").empty()
    var info = 0
    var wr = 0
    var dll = 0
    var comment = commentRecord.map(e => e.comment)
    comment.forEach(e => {
      if (e != null) {
        console.log(e)
        console.log(typeof e)
        if (e != 'null'){
          var temp = JSON.parse(e).shift();
          if (temp == "info"){
            info=+1
          } else if (temp == "wakil rakyat") {
            wr=+1
          } else if (temp == "lain-lain") {
            dll=+1
          }
        } else {
          info = 1;
        }
      }
    })

    var data = {
      labels: ['Info', 'Wakil Rakyat', 'Lain-Lain'],
      series: [info, wr, dll]
    }

    var options = {
      labelInterpolationFnc: function(value) {
        return value[0]
      }
    }

    var responsiveOptions = [
      ['screen and (min-width: 640px)', {
        chartPadding: 30,
        labelOffset: 100,
        labelDirection: 'explode',
        labelInterpolationFnc: function(value) {
          return value;
        }
      }],
      ['screen and (min-width: 1024px)', {
        labelOffset: 60,
        chartPadding: 20
      }]
    ]

    new Chartist.Pie('.status-comment', data, options, responsiveOptions)

    $(".status-comment").append('<label for="comment-chart" class="col-form-label" style="display: block; text-align:center;">Comment Record</label>')
  }

  function phoneChart(phoneRecord) {
    $(".status-phone").empty()

    var sn = 0    //salah nombor
    var tw = 0    //tidak wujud
    var hk = 0    //hubungi kemudian
    var tm = 0    //tidak berminat

    var phone = phoneRecord.map(e => e.status_phone)

    phone.forEach(e => {
      if (e != null) {
        if (e != 'null'){
          var len = JSON.parse(e).length
          var temp = JSON.parse(e)
          for(i=0;i<len;i++){
            if (temp[i] == "Salah No"){
              sn=+1
            } else if (temp[i] == "Tak Wujud") {
              tw=+1
            } else if (temp[i] == "Hubungi Kemudian") {
              hk=+1
            } else if (temp[i] == "Tak Minat") {
              tm=+1
            }
          }
        } else {
          sn = 1;

        }
      }
    })

    var data = {
      labels: ['Salah Nombor', 'Tidak Wujud', 'Hubungi Kemudian', "Tak Berminat"],
      series: [sn, tw, hk, tm]
    }

    var options = {
      labelInterpolationFnc: function(value) {
        return value[0]
      }
    }

    var responsiveOptions = [
      ['screen and (min-width: 640px)', {
        chartPadding: 30,
        labelOffset: 100,
        labelDirection: 'explode',
        labelInterpolationFnc: function(value) {
          return value;
        }
      }],
      ['screen and (min-width: 1024px)', {
        labelOffset: 60,
        chartPadding: 20
      }]
    ]

    new Chartist.Pie('.status-phone', data, options, responsiveOptions)

    $(".status-phone").append('<label for="phone-chart" class="col-form-label" style="display: block; text-align:center;">Phone Record</label>')
  }

  function raceChart(regionRecord) {
    $(".status-race").empty()
    const raceData = regionRecord.reduce((acc, survey) => {
    const label = survey.race
    const searchedSurveyIndex = acc.series.findIndex(accSurvey => accSurvey.name === label)
      
    if (searchedSurveyIndex === -1)
      return {
        ...acc,
        labels: [
          ...acc.labels, 
          label
        ],
        series: [ 
          ...acc.series,
          {
            name: label, 
            value: 1
          }
        ]
      }
      
    acc.series[searchedSurveyIndex].value += 1
    return acc
    }, {labels: [], series: []})

    new Chartist.Pie(
      '#race-chart', 
      raceData, 
      {
        labelInterpolationFnc: function(value) {
          const survey = raceData.series.find(accSurvey => accSurvey.name === value)
          const amount = survey.value

          const total = raceData.series.reduce((acc, a) => acc + a.value, 0)
          return value + ' ' + Math.round(amount / total * 100) + '%'
        }
      },
      [
        ['screen and (min-width: 640px)', {
          chartPadding: 30,
          labelOffset: 100,
          labelDirection: 'explode',
          labelInterpolationFnc: function(value) {
            const survey = raceData.series.find(accSurvey => accSurvey.name === value)
            const amount = survey.value

            const total = raceData.series.reduce((acc, a) => acc + a.value, 0)
            return value + ' ' + Math.round(amount / total * 100) + '%'
          }
        }],
        ['screen and (min-width: 1024px)', {
          labelOffset: 60,
          chartPadding: 20
        }]
      ]
    )
        $(".status-race").append('<label for="survey-chart" class="col-form-label" style="display: block; text-align:center;">Race Distribution</label>')
  }
  
  function viewDetails() {
    window.location.href = "index.html#survey-record";
  }
</script>
